*{
    margin: 0;
    padding: 0;
}
.responsive-test{
    background-color: green;
    color: #fff;
    font-size: 50px;
    text-align: center;
}

@media (max-width: 1200px) {
    .responsive-test{
        background-color: rgb(85, 147, 184);
        color: rgb(236, 233, 61);
    }  
}

@media (max-width: 620px) {
    .responsive-test{
        background-color: rgb(214, 96, 17);
        color: rgb(42, 9, 65);
        font-size: 45px;
    }  
}

@media (max-width: 550px) {
    .responsive-test{
        background-color: rgb(10, 6, 4);
        color: rgb(255, 255, 255);
        font-size: 35px;
    }  
}

@media (max-width: 450px) {
    .responsive-test{
        background-color: red;
        color: green;
        font-size: 30px;
    }  
}